html{
    background-color: seashell  ;
    color: black;
}
header{
    align-content: left;
    width: max-content;
    height: 80px;
    margin: 20px 20px 50px 20px;
    padding: 50px;
    font-size: 64px;
}
header img{
    width: 150px;
    height: 150px;
}
nav{
    font-size: 70px;
    align-content: space-around;
    padding: 80px;
    width: max-content;
    margin: 30px;
}

body{
padding: 20px;
margin: 50px 30px 30px 30px;
}
body h1{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}
.mainblocos{
    width: 800px;
    margin: 60px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: content;
}
.blocos{
    padding: 30px;
    width: 200px;
    height: 200px;
    border: 3px solid black; 
    content: normal;
    background-color: white;
}
.blocos:hover{
    transform: scale(2.0);
}
.imgblocos{
    width: max-content;
    height: max-content;
}
.redesocial{
    width: 30px;
    height: 30px;
    padding: 10px;
   }
.redesocial:hover{
    transform: scale(2.0);
}
